# compiled output
/dist/
/tmp/

# misc
**/.gitkeep
.editorconfig
.ember-cli
.gitignore
.jshintrc
.travis.yml
.watchmanconfig
/.editorconfig
/.ember-cli
/.env*
/.eslintignore
/.eslintrc.js
/.gitignore
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/config/ember-try.js
/tests
ember-cli-build.js
testem.js
